<head>
    <title>Student Dashboard</title>

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap" rel="stylesheet">

    <!-- Bootstrap (VERY IMPORTANT) -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- Your CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<div class="container mt-5">

<h2 class="fw-bold mb-4">My Applications</h2>

{% for app in applications %}
<div class="card p-3 mb-3 shadow-sm">
    <h5>{{ app.job_title }}</h5>
    <p>{{ app.company_name }}</p>
    <span class="badge bg-info">{{ app.status }}</span>
</div>
{% endfor %}

</div>