<div class="container mt-5">

<h2 class="fw-bold mb-4">Applicants</h2>

{% for app in applications %}
<div class="card p-3 mb-3 shadow-sm">
    <p>Student ID: {{ app.student_id }}</p>
    <p>Status: {{ app.status }}</p>

    <a href="/update_status/{{ app.id }}/shortlisted" class="btn btn-warning btn-sm">Shortlist</a>
    <a href="/update_status/{{ app.id }}/selected" class="btn btn-success btn-sm">Select</a>
    <a href="/update_status/{{ app.id }}/rejected" class="btn btn-danger btn-sm">Reject</a>
</div>
{% endfor %}

</div>